<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DPDP Email Template</title>
</head>
<body>
  <p>DPDP Mail</p>
</body>
</html>